*{
    margin: 0;
    padding: 0;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #393939;
}
form{
    border-radius: 30px;
    padding: 10vmin;
    background-color: #f8f8f8;
}
label{
    height: 10vh;
}