/*CSS DA TELA DE SORTEIO*/
main {
    background-color: #f1f1f1;
}

.div-sorteio {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*permite a rolagem da tabela dos premiados*/
.table-wrapper2 {
    max-height: 27vh;
    overflow-y: auto;
    display: flex;
    width: 100vw;
}